<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--主要I是强制让文档的宽度与设备宽度保持1:1，最大宽度1.0，禁止屏幕缩放。-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <!--这个也是iphone私有标签，允许全屏浏览。-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--iphone的私有标签，iphone顶端状态条的样式。-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!--禁止数字自动识别为电话号码，这个比较有用，因为一串数字在iphone上会显示成蓝色，样式加成别的颜色也是不生效的。-->
    <meta content="telephone=no" name="format-detection">
    <!--禁止email识别-->
    <meta content="email=no" name="format-detection">
    <title>出库</title>
    <!-- 引入vue，axios -->
    <script src="../static/node_modules/axios/dist/axios.js"></script>
    <script src="../static/node_modules/vue/dist/vue.js"></script>
    <script src="../static/js/public.js"></script>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/Worklist.css">
</head>

<body>
    <div id="Worklist_wrap" class="Worklist_wrap">
        <div class="workList_menu">
            <ul>
                <!-- <li v-for="(menuLi,i) in menu" @click="checkMenu(i)" :class="{liActive:menuLi.active}">{{menuLi.title}}</li> -->
                <li @click="checkMenu(0)" :class="{liActive:title == 0}">待出库</li>
                <li @click="checkMenu(1)" :class="{liActive:title == 1}">已出库</li>
            </ul>
        </div>
        <div class="workList_Con">
            <ul>
                <li>
                    <div class="listLi" v-for="(li,i) in list" @click.stop="toDetail(li.number)">
                        <div class="listTop">
                            订单编号：{{li.number}}
                            <span class="iconfont icon-copy" @click.stop="copy(li.liNum)"></span>
                        </div>
                        <div>{{li.items}}</div>
                        <div>{{li.address}}</div>
                        <div class="fl clearfix">
                            <span class="fl" style="display: inline-block;">{{li.postcode}}</span>
                            <span class="fr" style="display: inline-block;">{{li.time}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#Worklist_wrap',
            data: {
                list: [],
                title: 0,
                urls: {
                    waitPickUrl: "/manage/noout",
                    pickUrl: "/manage/out",
                    // getDataUrl: "http://10.102.10.33:8002/deposit/pickUpList"
                }

            },
            created: async function() {
                this.urls = await workgetPublicUrl(this.urls);
                this.getWaitPick();
            },
            mounted() {},
            methods: {
                checkMenu(index) {
                    var _this = this;
                    if (index == 0) {
                        _this.title = 0;
                        _this.getWaitPick();
                    }
                    if (index == 1) {
                        _this.title = 1;
                        _this.getPick();
                    }
                },
                getWaitPick() {
                    _this = this;
                    axios({
                            method: 'get',
                            url: _this.urls.waitPickUrl,
                            withCredentials: true
                        })
                        .then(res => {
                            if (res.status == 200) {
                                _this.list = res.data;
                            }

                        })
                        .catch(function(error) {
                            // handle error
                            if (error.response.status == 422) {
                                // console.log("用户名或者密码错误！");
                                alert("参数错误")
                            }
                            if (err.response.status == 400) {
                                alert("登录过期请重新登录")
                                window.location.href = 'login.html'
                            }
                        })
                },
                getPick() {
                    _this = this;
                    axios({
                            method: 'get',
                            url: _this.urls.pickUrl,
                            withCredentials: true
                        })
                        .then(res => {
                            if (res.status == 200) {
                                _this.list = res.data;
                            }

                        })
                        .catch(function(error) {
                            // handle error
                            if (error.response.status == 422) {
                                // console.log("用户名或者密码错误！");
                                alert("参数错误")
                            }
                            if (err.response.status == 400) {
                                alert("登录过期请重新登录")
                                window.location.href = 'login.html'
                            }
                        })
                },
                getData() {
                    _this = this;
                    axios({
                            method: 'post',
                            url: _this.urls.getDataUrl,
                            // withCredentials: true,[解决跨域]
                            data: {}
                        })
                        .then(res => {
                            if (res.status == 200) {
                                _this.menu = res.data.menu;
                            }

                        })
                        .catch(function(error) {
                            // handle error
                            if (error.response.status == 422) {
                                // console.log("用户名或者密码错误！");
                                alert("参数错误")
                            }
                            if (err.response.status == 400) {
                                alert("登录过期请重新登录")
                                window.location.href = 'login.html'
                            }
                        })
                },
                toDetail(id) {
                    if (this.title == 0) {
                        let url = 'OutboundDetail.html';
                        window.location.href = url + '?id=' + id;
                    }
                    if (this.title == 1) {
                        let url = 'pickFinishDetail.html';
                        window.location.href = url + '?id=' + id;
                    }
                },
                copy(item) {
                    // 获取需要复制的文字
                    const copyStr = item;
                    // 创建input标签存放需要复制的文字
                    const oInput = document.createElement('input');
                    // 把文字放进input中，供复制
                    oInput.value = copyStr;
                    document.body.appendChild(oInput);
                    // 选中创建的input
                    oInput.select();
                    // 执行复制方法， 该方法返回bool类型的结果，告诉我们是否复制成功
                    const copyResult = document.execCommand('copy')
                        // 操作中完成后 从Dom中删除创建的input
                    document.body.removeChild(oInput)
                        // 根据返回的复制结果 给用户不同的提示
                    if (copyResult) {
                        alert('单号已复制')
                    } else {
                        alert('复制失败')
                    }
                }
            }
        })
    </script>
</body>

</html>