<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--主要I是强制让文档的宽度与设备宽度保持1:1，最大宽度1.0，禁止屏幕缩放。-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <!--这个也是iphone私有标签，允许全屏浏览。-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--iphone的私有标签，iphone顶端状态条的样式。-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!--禁止数字自动识别为电话号码，这个比较有用，因为一串数字在iphone上会显示成蓝色，样式加成别的颜色也是不生效的。-->
    <meta content="telephone=no" name="format-detection">
    <!--禁止email识别-->
    <meta content="email=no" name="format-detection">
    <title>转运详情</title>
    <script src="./static/node_modules/vue/dist/vue.js"></script>
    <script src="./static/node_modules/axios/dist/axios.js"></script>
    <!-- 移动ui -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script src="./static/js/public.js"></script>
    <link rel="stylesheet" href="./static/font/iconfont.css">
    <link rel="stylesheet" href="./static/css/normalize.css">
    <link rel="stylesheet" href="./static/css/public.css">
    <link rel="stylesheet" href="./static/css/appointmentMail.css">
</head>

<body>
    <div class="appointmentMail_wrap" id="appointmentMail_wrap" style="padding:0">
        <div class="content" style="height: 100%;">
            <div class="basicInfo br5">
                <div style="float:left;width: 10%;text-align: center;height: 100%;line-height: 90px;color: #c30;font-size: 16px;font-weight: 700;">
                    寄
                </div>
                <div class="basicInfo_userInfo1">
                    <div v-if="mailInfo.sendInfo" style="padding: 0 5px;box-sizing: border-box;">
                        <div class="w100" style="font-weight: 700;line-height: 30px;">
                            <div class="w30 oneLine">{{mailInfo.sendInfo.name}}</div>
                            <div class="w70 oneLine">{{mailInfo.sendInfo.phone}}</div>
                        </div>
                        <div class="w100 multiLine2" style="line-height:20px;height: 40px;">
                            {{mailInfo.sendInfo.address}}
                        </div>
                        <div class="w100" style="line-height: 20px;">
                            <div class="w30 oneLine">{{mailInfo.sendInfo.postalCode}}</div>
                            <div class="w70 oneLine">{{mailInfo.sendInfo.mailBox}}</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="basicInfo_addr">地址簿</div> -->
            </div>
            <div class="basicInfo br5">
                <div style="float:left;width: 10%;text-align: center;height: 100%;line-height: 90px;color: #666;font-size: 16px;font-weight: 700;">
                    收
                </div>
                <div class="basicInfo_userInfo1">
                    <div v-if="mailInfo.collectInfo" style="padding: 0 5px;box-sizing: border-box;">
                        <div class="w100" style="font-weight: 700;line-height: 30px;">
                            <div class="w30 oneLine">{{mailInfo.collectInfo.name}}</div>
                            <div class="w70 oneLine">{{mailInfo.collectInfo.phone}}</div>
                        </div>
                        <div class="w100 multiLine2" style="line-height:20px;height: 40px;">
                            {{mailInfo.collectInfo.address}}
                        </div>
                        <div class="w100" style="line-height: 20px;">
                            <div class="w30 oneLine">{{mailInfo.collectInfo.postalCode}}</div>
                            <div class="w70 oneLine">{{mailInfo.collectInfo.mailBox}}</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="basicInfo_addr">地址簿</div> -->
            </div>
            <div class="pickUpInfo br5">
                <div class="pickUpInfoLi">
                    <div class="w25 tac">物品信息</div>
                    <div class="w75 tar">
                        <span class="iconfont icon-arrow-l"></span>
                        <input type="text" v-model="mailInfo.thingsInfo" readonly class="oneLine tar">
                    </div>
                </div>
                <div class="pickUpInfoLi">
                    <div class="w25 tac">取件方式</div>
                    <div class="w75">{{mailInfo.pickUpType}}</div>
                </div>
                <div class="pickUpInfoLi">
                    <div class="w25 tac">取件日期</div>
                    <div class="w75 tar">
                        <div style="width: 100%;height:40px;position: absolute;top: 0;right: 0;background-color: transparent;"></div>
                        <span class="iconfont icon-arrow-l"></span>
                        <input type="text" placeholder="可提前七天预约取件" v-model="mailInfo.pickUpDate" readonly class="tar oneLine">
                    </div>
                </div>
            </div>
            <div class="pickUpInfo br5">
                <div class="pickUpInfoLi">
                    <div class="w25 tac">需要包装</div>
                    <div class="w75">
                        <div style="width: 100%;height:40px;position: absolute;top: 0;right: 0;background-color: transparent;">{{mailInfo.packStatus ?'是' : '否'}}</div>
                        <span @click="setMessage('pack','no')" class="iconfont icon-beizhu rightIcon0"></span>
                    </div>
                </div>
                <div class="pickUpInfoLi">
                    <div class="w25 tac">是否包税</div>
                    <div class="w75">
                        <div style="width: 100%;height:40px;position: absolute;top: 0;right: 0;background-color: transparent;">{{mailInfo.packStatus ?'是' : '否'}}</div>
                        <span @click="setMessage('tax','no')" class="iconfont icon-beizhu rightIcon0"></span>
                    </div>
                </div>
                <div class="pickUpInfoLi">
                    <div class="w25 tac">备注信息</div>
                    <div class="w75 tar">
                        <input type="text" v-model="mailInfo.remarks" readonly placeholder="给我们带句话吧" class="tar oneLine">
                        <span class="iconfont icon-arrow-l"></span>
                    </div>
                </div>
            </div>
            <div class="pickUpInfo br5">
                <div class="pickUpInfoLi">
                    <div class="w25 tac">收费标准</div>
                    <div class="w75 tar" @click.stop="setMessage('charge','no')">
                        <div style="width: 100%;height:40px;position: absolute;top: 0;right: 0;background-color: transparent;"></div>
                        <input type="text" placeholder="点我查看收费标准" readonly class="tar oneLine">
                        <span class="iconfont icon-arrow-l"></span>
                    </div>
                </div>
            </div>
            <div class="w100" style="padding: 10px;box-sizing: border-box;">
                <span class="iconfont icon-wancheng1" :class="{active:mailInfo.readStatus}" style="position: relative;top: -2px;"></span> 我已阅读并同意《
                <b @click="setMessage('legal','no')">法律免责声明</b> 》
            </div>
            <div class="w100 pickUpCode" v-if="mailInfo.pickUpCode != ''" style="height: 100px;padding: 10px;box-sizing: border-box;text-align: center;margin-bottom: 10px;">
                <img :src="mailInfo.pickUpCode" alt="">
            </div>
        </div>

        <div class="messageBox" v-if="messageSwitch">
            <div class="boxContent">
                <div class="messageTitle">{{message.title}}</div>
                <div class="messageContent">{{message.content}}</div>
                <div class="messageBtn" v-if="btnSwitch">
                    <div class="cancleBtn" @click="messageSwitch = false">取消</div>
                    <div class="confirmBtn" @click="confirmOperation">确定</div>
                </div>
                <div v-if="!btnSwitch" style="width: 100%;line-height: 40px;text-align: center;font-weight: 700;color: #CC3300;position: fixed;bottom: 0;" @click="messageSwitch=false">我知道了</div>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: "#appointmentMail_wrap",
            data: {
                message: {
                    title: "",
                    content: "",
                    type: ""
                },
                messageSwitch: false,
                btnSwitch: true,
                mailInfo: {},
                thingsInfo: {}
            },
            created() {},
            mounted() {
                this.getData();

            },
            methods: {
                // 获取地址栏地址存储在对象中
                getSearch: function() {
                    var name, value;
                    // var str = "http://10.102.10.33:5500/detail.html?recordId=94"
                    var str = decodeURI(location.href); //取得整个地址栏
                    var num = str.indexOf("?")
                    str = str.substr(num + 1); //取得所有参数   stringvar.substr(start [, length ]
                    var arr = str.split("&"); //各个参数放到数组里
                    var obj = {};
                    for (var i = 0; i < arr.length; i++) {
                        num = arr[i].indexOf("=");
                        var name = arr[i].substring(0, num);
                        var value = arr[i].slice(num + 1);
                        obj[name] = value;
                    }
                    return obj;
                },
                setMessage(type, btn) {
                    if (type == 'legal') {
                        this.message.title = "法律免责声明";
                        this.message.content = this.mailInfo.legalDescription;
                    }
                    if (type == 'pack') {
                        this.message.title = "包装说明";
                        this.message.content = this.mailInfo.packRemarks;
                    }
                    if (type == 'tax') {
                        this.message.title = "包税说明";
                        this.message.content = this.mailInfo.taxRemarks;
                    }
                    if (type == 'charge') {
                        this.message.title = "收费说明";
                        this.message.content = this.mailInfo.chargeStandard;
                    }
                    if (btn == 'no') {
                        this.btnSwitch = false;
                    }
                    this.messageSwitch = true;
                },
                getData() {
                    var _this = this;
                    axios.post('http://10.102.10.33:8002/deposit/mailDetail', {})
                        .then((res) => {
                            _this.mailInfo = res.data;
                        })
                }
            }
        })
    </script>
</body>

</html>